# Node.js
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
